	* {
		padding:0;
		margin:0;
		}
		 #header3 
 	{
		
            margin: 0 auto; /* Centro el contenedor */
            overflow: hidden;
            text-align: center;
            width: 900px; 
			font-family:Arial, Helvetica, sans-serif;/* Defino el ancho de mi página */
			
	}

 #header2 
 	{
		
            margin: 0 auto; /* Centro el contenedor */
            overflow: hidden;
            text-align: center;
            width: 800px; 
			font-family:Arial, Helvetica, sans-serif;
			/* Defino el ancho de mi página */
			
	}



 #header 
 	{
		margin:auto;
		width:400px;
		font-family:Arial, Helvetica, sans-serif;

	}
	

	
	ul, ol {
		list-style:none;
		
	}
	
	
	.nav li a{
		background-color: #3C3;
		color:#fff;
		text-decoration:none;
		padding: 10px 15px;
		display:block;	
		border: 1px solid black;
		
		
		
		
	}
	
	.nav li a:hover{
			background-color:#434343;
		}
	
	
	.nav > li {
		float:left;
	}
	
	.nav li ul {
		display:none;
		position:absolute;
		min-width:40px;
	}
	
	.nav li:hover > ul
	{
			display:block;
		}
	
	.nav li ul li 
	{
		position:relative;
	}
	
	.nav li lu ul li ul 
	{
		right:-140px;
		top:0px;
	}
	

	
	